.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

.member-banner {
  position: fixed;
  bottom: 5%;
  left: 10%;
  width: 80%;
  background: #282c34;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 90%;
  align-items: center;
  z-index: 2;
  gap: 10px;
}
.member-banner2 {
  position: fixed;
  top: auto;
  left: auto;
  width: 70%;
  background: #282c34;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 10px;
}
.payment-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.tabs {
  position: fixed;
  top: 5%;
  display: flex;
  background-color: #ddd; /* Grey background for the tabs */
  border-radius: 15px; /* Rounded corners for the entire tab container */
  overflow: hidden; /* Ensure rounded corners are applied to the container */
}

.tab {
  flex: 1;
  padding: 4px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background-color: #ddd;
  border-radius: 10px; /* More rounded corners for individual tabs */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.tab.active {
  background-color: #3498db;
  color: white;
}

/* Optional: Hover effect for tabs */
.tab:hover {
  background-color: #c0c0c0; /* Light grey on hover */
}

.notification-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
  margin-right: 20px; /* Adjust margin as needed */
}
.close-icon {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
/* Add this to your CSS or style section */
.btn-cancel {
  background-color: red;
  color: white;
  border: none;
  right: 2px;
  outline: none;
  border-radius: 10px;
}

.btn-cancel:hover {
  background-color: darkred;
}
.cancel-button-container {
  display: flex;
  justify-content: flex-end;
}

.preloader {
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 9999999;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.preloader .loader {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.preloader .loader .loader-outter {
  position: absolute;
  border: 4px solid #ffffff;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41)
    infinite;
  animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .loader-inner {
  position: absolute;
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: calc(40% - 21px);
  top: calc(40% - 21px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41)
    infinite;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .indicator {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1.5);
  transform: translateY(-50%) scale(1.5);
}

.preloader .loader .indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.preloader .loader .indicator svg polyline#back {
  stroke: #ffffff;
}

.preloader .loader .indicator svg polyline#front {
  stroke: #1a76d1;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  -webkit-animation: dash 1s linear infinite;
  animation: dash 1s linear infinite;
}

.preloader::before,
.preloader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: -1;
  background: #1a76d1;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.preloader::after {
  left: auto;
  right: 0;
}

.preloader.preloader-deactivate {
  visibility: hidden;
}

.preloader.preloader-deactivate::after,
.preloader.preloader-deactivate::before {
  width: 0;
}

.preloader.preloader-deactivate .loader {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.back-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  color: #007bff;
}

.material-icons {
  font-size: 24px;
  margin-right: 5px;
}
.chat-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff; /* Change the background color as needed */
  text-decoration: none;
}

.chat-button:hover {
  background-color: #0056b3; /* Change the hover background color as needed */
}
