.notification-icon-container {
    position: relative;
    cursor: pointer;
  }
  
  .notification-icon {
    position: relative;
    color: white;
  }
  
  .notification-icon.active {
    color: #cccccc;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .notification-dropdown {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(3, 3, 3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px; /* Adjust the width as needed */
  }
  
  .notification-dropdown h3 {
    margin-bottom: 10px;
    color: #f8f7f7;
  }
  
  /* .notification-dropdown div {
    margin-bottom: 10px;
    list-style-type: disc;
    color: #fbfbfb;
  } */
  .notification-dropdown ul {
    list-style-type: disc;
    padding-left: 20px; /* Adjust the padding as needed */
  }
  
  .notification-dropdown li {
    margin-bottom: 10px;
    color: #fbfbfb;
  }

  